<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.vectrex</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Build Vectrex games in C!</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaLegacyTarget</string>
			<key>BuildToolPath</key>
			<string>/bin/bash</string>
			<key>BuildToolArgsString</key>
			<string>${PROJECT_NAME}/build.sh ${PROJECT_NAME}</string>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string></string>
				<key>OTHER_LDFLAGS</key>
				<string></string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_GENERATE_DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_OPTIMIZATION_LEVEL</key>
					<string>0</string>
					<key>DEBUG_INFORMATION_FORMAT</key>
					<string>dwarf</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>DEBUG_INFORMATION_FORMAT</key>
					<string>dwarf-with-dsym</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>read.txt</key>
		<dict>
			<key>Path</key>
			<string>read.txt</string>
		</dict>
		<key>include/main.h</key>
		<dict>
			<key>Path</key>
			<string>include/main.h</string>
			<key>Group</key>
			<string>game</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>src/main.c</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>src/main.c</string>
			<key>Group</key>
			<string>game</string>
		</dict>
		<key>include/graphics.h</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>include/graphics.h</string>
			<key>Group</key>
			<string>game</string>
		</dict>
		<key>include/tunes.h</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>include/tunes.h</string>
			<key>Group</key>
			<string>game</string>
		</dict>
		<key>include/vectrex.h</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>include/vectrex.h</string>
			<key>Group</key>
			<string>bios</string>
		</dict>
		<key>src/crt.s</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>src/crt.s</string>
			<key>Group</key>
			<string>bios</string>
		</dict>
		<key>src/crt0.s</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>src/crt0.s</string>
			<key>Group</key>
			<string>bios</string>
		</dict>
		<key>include/sounds.h</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>include/sounds.h</string>
			<key>Group</key>
			<string>bios</string>
		</dict>
		<key>include/notes.h</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>include/notes.h</string>
			<key>Group</key>
			<string>bios</string>
		</dict>
		<key>include/music.h</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>include/music.h</string>
			<key>Group</key>
			<string>bios</string>
		</dict>
		<key>include/stdbool.h</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>include/stdbool.h</string>
			<key>Group</key>
			<string>helpers</string>
		</dict>
		<key>build.sh</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>build.sh</string>
			<key>Group</key>
			<string>build</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>read.txt</string>
		<string>include/main.h</string>
		<string>src/main.c</string>
		<string>include/graphics.h</string>
		<string>include/tunes.h</string>
		<string>include/vectrex.h</string>
		<string>src/crt.s</string>
		<string>src/crt0.s</string>
		<string>include/sounds.h</string>
		<string>include/notes.h</string>
		<string>include/music.h</string>
		<string>include/stdbool.h</string>
		<string>build.sh</string>
	</array>
</dict>
</plist>
